<?xml version="1.0" encoding="UTF-8"?>


<configuration>
	<titre>Default</titre>
	<emotions>
		<emotion id="1">
			<nom>Exubérant</nom>
			<description>Lorem ipsum dolor sit amet, consectetur adipisicing elit</description>

			<avatars>

				<avatar id="1">
					<nom>nom</nom>
					<valeur>coucou</valeur>
					<img></img> 
				</avatar>

				<avatar id="2">
					<nom>nom</nom>
					<valeur>coucou</valeur>
					<img></img> 
				</avatar>

				<avatar id="3">
					<nom>nom</nom>
					<valeur>coucou</valeur>
					<img></img>
				</avatar>

			</avatars>
		</emotion>

		<emotion id="2">
			<nom>Rejet</nom>
			<description>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</description>
			
			<avatars>

				<avatar id="1">
					<nom>nom</nom>
					<valeur>coucou</valeur>
					<img></img> 
				</avatar>


				<avatar id="2">
					<nom>nom</nom>
					<valeur>coucou</valeur>
					<img></img> 
				</avatar>

				<avatar id="3">
					<nom>nom</nom>
					<valeur>coucou</valeur>
					<img></img> 
				</avatar>

				<avatar id="4">
					<nom>nom</nom>
					<valeur>coucou</valeur>
					<img></img> 
				</avatar>

				<avatar id="5">
					<nom>nom</nom>
					<valeur>coucou</valeur>
					<img></img> 
				</avatar>

			</avatars>
		</emotion>
	</emotions>

</configuration>