<div class="page-header noMarginTop">
	<div class="row">
		<div class="col-xs-8">
			<h1 class="noMarginTop"><span class="glyphicon glyphicon-question-sign"></span> Aide </h1>
		</div>
	</div>
</div>



<h2> Créer une nouvelle expérience </h2>

<h3>Créer une nouvelle expérience</h3>
Cliquer sur une “nouvelle évaluation” à partir de l’écran d’accueil


<h3>Remplir les informations du formulaire</h3>
<ul>
	<li>Nom de l’expérience : le nom que vous souhaitez donner à votre expérience (peut être le nom du produit)</li>
	<li>La description de l’expérience : toutes les informations complémentaires nécessaires. (non obligatoire)</li>
	<li>Choisir une configuration :  Choix d’un package d’émotions et d’avatar associés à cette expérience (Interet-Rejet ou Joie-Tristesse, etc.)</li>
	<li>Image du produit : ajouter l’image du produit que les sujet vont évaluer. Cette image sera redimensionnée en (145x310px).</li>
</ul>
<br/>
Cliquer sur “Valider” pour créer cette nouvelle évaluation, ou “Fermer” pour annuler.