<style>
    .bottomMargin{
        margin-bottom: 20px;
    }
    .noMarginTop{
        margin-top: 0px;
    }
</style>


<div class="page-header noMarginTop">
	<div class="row">
		<div class="col-xs-8">
			<h1 class="noMarginTop"><span class="glyphicon glyphicon-question-sign"></span> Aide <small> sous titre</small></h1>
		</div>
	</div>
</div>

<div class="row">


	<nav id="affix-nav" class="col-xs-4">
		<ul class="nav nav-pills nav-stacked col-xs-3" data-spy="affix" data-offset-top="0" >

			<li class="active"><a href="#h21">Créer une nouvelle expérience</a></li>
			<li><a href="#h22">Ouvrir une expérience</a></li>
			<li><a href="#h23">Modifier une expérience</a></li>
			<li><a href="#h24">Supprimer une expérience</a></li>
			<li><a href="#h25">Créer un participant</a></li>
			<li><a href="#h26">Modifier un participant</a></li>
			<li><a href="#h27">Supprimer un participant</a></li>
			<li><a href="#h28">Créer une évaluation</a></li>
			<li><a href="#h29">Déroulement d'une évaluation</a></li>
			<li><a href="#h29">Afficher les résultats d'une évaluation</a></li>
			<li><a href="#h29">Supprimer une évaluation</a></li>
			<li><a href="h32">Exporter les résultats d'évaluations</a></li>
		</ul>
	</nav>


<section id="content" class="col-xs-8">
<h2 id="h21"> Créer une nouvelle expérience </h2>

Cliquer sur une “nouvelle expérience” à partir de l’écran d’accueil.</br></br>


<b>Remplir les informations du formulaire</b></br>
<ul>
	<li>Nom de l’expérience : le nom que vous souhaitez donner à votre expérience (peut être le nom du produit)</li>
	<li>La description de l’expérience : toutes les informations complémentaires nécessaires. <em>(non obligatoire)</em></li>
	<li>Choisir une configuration :  Choix d’un package d’émotions et d’avatar associés à cette expérience (Interet-Rejet ou Joie-Tristesse, etc.)</li>
	<li>Image du produit : ajouter l’image du produit que les sujet vont évaluer. Cette image sera redimensionnée en <em>145x310px</em>.</li>
</ul>
<br/>
Cliquer sur “Valider” pour créer cette nouvelle évaluation, ou “Fermer” pour annuler.
</br></br></br>

Il est aussi possible de créer une expérience à partir de la page de gestion des expériences.</br>
Pour cela cliquer sur le logo d'engrenage en haut à droite de l'écran et sélectionner "Gestion des expériences". </br>
Cliquer sur "+ Nouvelle"  pour créer une expérience et suivre les étapes précédentes.





<hr>

<h2 id="h22">Ouvrir une expérience </h2>


Cliquer sur une “ouvrir une évaluation” à partir de l’écran d’accueil.</br></br>


<b>Choisir l'expérience</b> dans la liste déroulante et cliquer sur "Ouvrir". Vous êtes automatiquement redirigé sur la page des évaluations.<br/></br>
Si l'expérience n'apparaît pas dans la liste il est possible d'<b>ajouter des expériences</b>.</br>
<ul>
	<li>Cliquer sur "Importer une expérience", cela vous redirige vers la page de gestion des expériences.</li>
	<li>Cliquer sur le bouton jaune "Importer".</li>
	<li>Choisir l'archive de l'expérience à importer <em>(obligatoirement au format .zip)</em>, celle-ci s'ajoute dans la liste.</li>
	<li>Il est maintenant possible de l'utiliser grâce au bouton "Ouvrir".</li>
</ul>
Cette expérience est ajoutée à la liste des expérience tant qu'elle n'est pas supprimée manuellement.
</br>
</br>
Lorsqu'on ouvre une expérience l'application redirige vers la page des évaluations.




<hr>

<h2 id="h23">Modifier une expérience </h2>

Il est possible de modifier certaines informations d'une expérience.<br/>
Pour cela, l'expérience doit-être ouverte <a href="#h22">(Ouvrir une expérience)</a>.<br><br>
<ul>
	<li>Cliquer sur le bouton "Fiche de l'expérience"</li>
	<li>Modifier la description.</li>
		<ul>
			<li>Cliquer sur le bouton orange "Modifier"</li>
			<li>Modifier le texte de la description</li>
			<li>Enregistrer le changement ou annuler à l'aide des boutons sur le coté</li>
		</ul>
	<li>Modifier l'image du produit</li>
		<ul>
			<li>Cliquer sur le bouton "Choose File"</li>
			<li>Choisir l'image du produit dans vos fichier</li>
			<li>Cliquer sur "Valider" pour teminer la modification d'image</li>
		</ul>
</ul>

<hr>

<h2 id="h24">Supprimer une expérience </h2>
<ul>
	<li>Cliquer sur l'engrenage en haut à droite pour faire apparaître le menu</li>
	<li>Sélectionner "Gestion des expériences"</li>
	<li>Cliquer sur le bouton rouge avec la poubelle</li>
	<li>Confirmer en cliquant sur "OK" </li>
</ul>
L'expérience est supprimée.




<hr>

<h2 id="h25">Créer un participant </h2>

A partir de la page d'évaluation (accessible après avoir <a href="#h22">ouvert une expérience</a>)<br><br>
<ul>
	<li>Cliquer sur le bouton "+"</li>
	<li>Remplir le formulaire <strong>tous les champs sont obligatoires</strong></li>
	<ul>
		<li>Numéro du participant <em>(doit être unique)</em></li>
		<li>Sexe</li>
		<li>Date de naissance</li>
		<li>Plus haut niveau d'étude</li>
	</ul>
	<li>Cliquer sur <strong>"Ajouter"</strong> pour créer le participant et évaluer plus tard</li>
	<li>ou cliquer sur <strong>"Ajouter et évaluer"</strong> pour créer le participant et évaluer tout de suite un produit.</li>
</ul>




<hr>

<h2 id="h26">Modifier un participant</h2>

A partir de la page d'évaluation (accessible après avoir <a href="#h22">ouvert une expérience</a>)<br><br>
<ul>
	<li>Cliquer sur le bouton du numéro de participant que vous souhaitez modifier</li>
	<li>Il est possible de modifier mes informations soulignées en pointillés <em>(Date de naissance, sexe, niveau d'étude)</em> en cliquant dessus </li>
	<li>Apporter les modifications</li>
	<li>Valider ou Annuler</li>
</ul>


<hr>

<h2 id="h27">Supprimer un participant</h2>

A partir de la page d'évaluation (accessible après avoir <a href="#h22">ouvert une expérience</a>)<br><br>

<ul>
	<li>Cliquer sur l'engrenage à droite du numéro de participant à supprimer</li>
	<li>Sélectionner "Supprimer le participant"</li>
</ul>



<hr>

<h2 id="h28">Créer une évaluation</h2>

Pour créer une évaluation il est nécessaire d'avoir  <a href="#h25">créé un participant.</a><br><br>

Il est possible de lancer une évaluation de deux façons :
<ul>
	<li>Immédiatement après avoir créé un participant, il suffit de cliquer sur "Ajouter et évaluer"</li>
	<li>A partir de la page d'évaluation</li>
	<ul>
		<li>Cliquer sur l'engrenage à côté du numéro de participant</li>
		<li>Cliquer sur lancer une évaluation</li>
	</ul>
</ul>


<hr>

<h2 id="h29">Déroulement d'une évaluation</h2>

Voici les étapes à suivre pour réaliser une évaluation :<br><br>

<ul>
	<li>Après avoir lu le texte d'explication, cliquer sur "Commencer"</li>
	<li>Cliquer sur le bouton pour afficher les émotions disponibles</li>
	<li>Choisir l'émotion à évaluer</li>
	<li>Choisir la proximité avec le produit en déplaçant l'avatar horizontalement</li>
	<li>Choisir l'intensité de l'émotion en déplaçant l'avatar verticalement</li>
	<li>Cliquer sur "Terminer"</li>
</ul>

Il est possible d'évaluer une nouvelle émotion ou de terminer.


<hr>

<h2 id="h30">Afficher les résultats d'une évaluation</h2>

A partir de la page d'évaluation (accessible après avoir <a href="#h22">ouvert une expérience</a>)<br><br>
<ul>
	<li>Cliquer sur le numéro du paticipant qui à réalisé l'évaluation</li>
	<li>ou alors</li>
	<ul>
		<li>Cliquer sur l'engrenage à droite du numéro du paticipant qui à réalisé l'évaluation</li>
		<li>Sélectionner "Voir les évaluations"</li>
	</ul>
</ul>


<hr>

<h2 id="h31">Supprimer une évaluation</h2>

Après avoir <a href="#h30">affiché les résultats d'un évaluation</a><br>
Cliquer le logo rouge de poubelle pour supprimer une évaluation.

<hr>

<h2 id="h32">Exporter les résultats d'évaluations</h2>
Il est possible d'exporter les résultats pour un participant ou pour une expérience complète.

	<h3>Exporter les résultats d'un participant</h3>
	<h3>Exporter les résultats d'une expérience</h3>

<br><br><br><br>



</section>  


</div>


<script>
$(document).ready(function() {

	$('body').scrollspy({ target: '#affix-nav' });

});
	
	
</script>