<style>
    .bottomMargin{
        margin-bottom: 20px;
    }
    .noMarginTop{
        margin-top: 0px;
    }
</style>


<div class="page-header noMarginTop">
	<div class="row">
		<div class="col-xs-8">
			<h1 class="noMarginTop"><span class="glyphicon glyphicon-question-sign"></span> Aide <small> sous titre</small></h1>
		</div>
	</div>
</div>

<div class="row">


	<nav id="affix-nav" class="col-xs-4">
		<ul class="nav nav-pills nav-stacked col-xs-3" data-spy="affix" data-offset-top="0" >

			<li class="active"><a href="#h21">Créer une nouvelle expérience</a></li>
			<li><a href="#h22">Ouvrir une expérience</a></li>
			<li><a href="#h32">titre h3</a></li>
			<li><a href="#h32">titre h3</a></li>
			<li><a href="#h32">titre h3</a></li>
			<li><a href="#h32">titre h3</a></li>
			<li><a href="#h32">titre h3</a></li>
			<li><a href="#h32">titre h3</a></li>

		</ul>
	</nav>


<section id="content" class="col-xs-8">
<h2 id="h21"> Créer une nouvelle expérience </h2>

Cliquer sur une “nouvelle évaluation” à partir de l’écran d’accueil</br></br>


<b>Remplir les informations du formulaire</b></br>
<ul>
	<li>Nom de l’expérience : le nom que vous souhaitez donner à votre expérience (peut être le nom du produit)</li>
	<li>La description de l’expérience : toutes les informations complémentaires nécessaires. <em>(non obligatoire)</em></li>
	<li>Choisir une configuration :  Choix d’un package d’émotions et d’avatar associés à cette expérience (Interet-Rejet ou Joie-Tristesse, etc.)</li>
	<li>Image du produit : ajouter l’image du produit que les sujet vont évaluer. Cette image sera redimensionnée en <em>145x310px</em>.</li>
</ul>
<br/>
Cliquer sur “Valider” pour créer cette nouvelle évaluation, ou “Fermer” pour annuler.
</br></br></br>

Il est aussi possible de créer une page à partir de la page de gestion des expériences.</br>
Pour cela cliquer sur le logo d'engrenage en haut à droite de l'écran et séléctionner "Gestion des expériences". 


<hr>

<h2 id="h22">Ouvrir une expérience </h2>


Cliquer sur une “ouvrir une évaluation” à partir de l’écran d’accueil.</br></br>


<b>Choisir l'expérience</b> dans la liste déroulante et cliquer sur "Ouvrir". Vous êtes automatiquement redirigé sur la page des évaluations.<br/></br>
Si l'expérience n'apparaît pas dans la liste il est possible d'<b>ajouter des expériences</b>.</br>
<ul>
	<li>Cliquer sur "Importer une expérience", cela vous redirige vers la page de gestion des expériences.</li>
	<li>Cliquer sur le bouton jaune "Importer".</li>
	<li>Choisir l'archive de l'expérience à importer <em>(obligatoirement au format .zip)</em>, celle-ci s'ajoute dans la liste.</li>
	<li>Il est maintenant possible de l'utiliser grâce au bouton "Ouvrir".<li>
</ul>
Cette expérience est ajoutée à la liste des expérience tant qu'elle n'est pas supprimée manuellement.
</br>
</br>
Lorsqu'on ouvre une expérience l'application redirige vers la page des évaluations.

<hr>

<h2 id="h22">Modifier une expérience </h2>

Il est possible de modifier certaines informations d'une expérience. 

<br><br><br><br>



</section>  


</div>


<script>
$(document).ready(function() {

	$('body').scrollspy({ target: '#affix-nav' });

});
	
	
</script>