

<style>
	.noMarginTop{
		margin-top: 5px;
	}

</style>

<div class="page-header noMarginTop">
  <h1 class="noMarginTop">Evaluation terminée <small></small></h1>
</div>
<p>

Merci d'avoir évaluer ce produit. Vous pouvez choisir d'évaluer de nouveau ce produit avec une autre émotion ou de terminer l'évaluation. <br>
Dans les deux cas, merci de remettre la tablette à l'expérimentateur.
</p>
<br>
<br>

<div class="btn-group btn-group-justified">
  <div class="btn-group">
      <a href="expEtape1?id=<%= participantID %>" type="button" class="btn btn-primary btn-lg">Nouvelle évaluation</a>
  </div>
  <div class="btn-group">
      <a href="evaluations" type="button" class="btn btn-default btn-lg">Terminer</a>
  </div>
</div>