<h1>Evaluations</h1>



<div class="row li-eval">

  <% for(var i=0; i<participants.length; i++) {%>

               <div class="btn-group col-xs-3">
                <button type="button" class="btn btn-info  btn-sm col-xs-9"data-toggle="tooltip" data-placement="top" title="Voir les informations du participant" onclick="$('#modifUserModal').modal('show');" >n°<%= participants[i].numero %></button>
                <button type="button" class="btn btn-info dropdown-toggle  btn-sm col-xs-3" data-toggle="dropdown">
                <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Lancer une évaluation</a></li>
                <li><a href="#" onclick="$('#resultats').modal('show');">Voir les évaluations</a></li>
                <li><a href="#" onclick="$('#modifUserModal').modal('show');"  >Modifier le participant</a></li>
                <li class="divider"></li>
                <li><a href="#">Supprimer le participant</a></li>
            </ul>
            </div>
     <% } %>



            
            <div class="btn-group col-xs-2">
            <button type="button" class="btn btn-info  btn-sm col-xs-9" data-toggle="tooltip" data-placement="top" title="Ajouter un participant" onclick="$('#newUserModal').modal('show');"><span class="glyphicon glyphicon-plus"/></button>
            </div>

           
</div>



<!-- Modal New participant-->
    <div class="modal " id="newUserModal" tabindex="-1" role="dialog" aria-labelledby="newUserModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/newParticipant" method="post" role="form">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="newUserModalLabel">Nouveau participant</h4>
                    </div>
                    <div class="modal-body">



                        <div class="form-group">
                            <label for="numUserInput">Numéro du participant</label>
                            <input name="numUser" type="text" class="form-control" id="numUserInput" placeholder="Numéro du participant">
                        </div>

                        <div class="form-group">
                          <label for="sexeUserRadios">Sexe</label>
                          <div>
                            <label>
                              <input type="radio" name="sexeUser" id="sexeUserRadios" value="H"> Homme
                            </label>
                            <label>
                              <input type="radio" name="sexeUser" id="sexeUserRadios" value="F"> Femme
                            </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="dateNaissanceInput">Date de naissance</label>
                            <input name="dateNaissance" type="text" class="form-control" id="dateNaissanceInput" placeholder="01/01/1900">
                        </div>

                        <div class="form-group">
                          <label for="lvlEtudeSelect">Plus haut niveau d'étude</label>
                          <select name="lvlEtude" class="form-control" id="lvlEtudeSelect">
                              <option value="bep_cap">BEP / CAP</option>
                              <option value="bac_pro">BAC Pro</option>
                              <option value="bac">BAC</option>
                              <option value="bac2">Bac+2</option>
                              <option value="bac3">Bac+3</option>
                              <option value="bac5">Bac+5</option>
                          </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary" onclick="$('#newUserModal').modal('hide');$('form').submit();">Ajouter</button>
                        <button type="submit" class="btn btn-primary" onclick="$('#newUserModal').modal('hide');$('form').submit();">Ajouter et évaluer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    
    
    
    
    <!-- Modal Modifier le participant-->
    <div class="modal " id="modifUserModal" tabindex="-1" role="dialog" aria-labelledby="modifUserModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/newParticipant" method="post" role="form">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="modifUserModalLabel">Participant</h4>
                    </div>
                    <div class="modal-body">



                        <div class="form-group">
                            <label for="numUserInput">Numéro du participant</label>
                            <input name="numUser" type="text" class="form-control" id="numUserInput" placeholder="Numéro du participant">
                        </div>

                        <div class="form-group">
                          <label for="sexeUserRadios">Sexe</label>
                          <div>
                            <label>
                              <input type="radio" name="sexeUser" id="sexeUserRadios" value="H"> Homme
                            </label>
                            <label>
                              <input type="radio" name="sexeUser" id="sexeUserRadios" value="F"> Femme
                            </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="dateNaissanceInput">Date de naissance</label>
                            <input name="dateNaissance" type="text" class="form-control" id="dateNaissanceInput" placeholder="01/01/1900">
                        </div>

                        <div class="form-group">
                          <label for="lvlEtudeSelect">Plus haut niveau d'étude</label>
                          <select name="lvlEtude" class="form-control" id="lvlEtudeSelect">
                              <option value="bep_cap">BEP / CAP</option>
                              <option value="bac_pro">BAC Pro</option>
                              <option value="bac">BAC</option>
                              <option value="bac2">Bac+2</option>
                              <option value="bac3">Bac+3</option>
                              <option value="bac5">Bac+5</option>
                          </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary" onclick="$('#modifUserModal').modal('hide');$('form').submit();">Enregistrer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    
    
    <!-- Modal Résultats-->
    <div class="modal " id="resultats" tabindex="-1" role="dialog" aria-labelledby="resultatsLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="newUserModalLabel">Résultats</h4>
                    </div>
                    <div class="modal-body">
                        <h3><span class="glyphicon glyphicon-user"></span>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" disabled="disabled">n°101</button>
                            <button type="button" class="btn btn-default" disabled="disabled">23/03/1991</button>
                            <button type="button" class="btn btn-default" disabled="disabled">Femme</button>
                            <button type="button" class="btn btn-default" disabled="disabled">Bac+3</button>
                        </div></h3>

                      <div class="table-responsive">  
                                        <table class="table">
                                            <thead>
                                                <tr>

                                                    <th>Emotion</th>
                                                    <th>Proximité</th>
                                                    <th>Intensité</th>
                                                    <th>Durée</th>
                                                    <th>Images</th>
                                                </tr>
                                                <tr>
                                                    <td>Intérêt</td>
                                                    <td>0</td>
                                                    <td>10</td>
                                                    <td>1:30</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>Rejet</td>
                                                    <td>3</td>
                                                    <td>5</td>
                                                    <td>2:17</td>
                                                    <td></td>
                                                </tr>
                                            </thead>
                                        </table> 
                          </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary" onclick="$('#newUserModal').modal('hide');$('form').submit();">Exporter</button>
                    </div>
            </div>
        </div>
    </div>