<h2>Paramétre de l'experience</h2>

Nom : <%= experience.nom %><br>

Description : <%= experience.description %><br>
Image : 
<img src="EXPERIENCES/<%= experience.ID %>/<%= experience.imageExp %>" alt="" style="width: 100px;height: 100px;">