<style type="text/css">
    
    /*************************
 * IScroll
**************************/

#wrapper {
    position: absolute;
    /*display: block;*/
/*  width: 300px;
    height: 100px;*/
    overflow: hidden;
    /* Position */
    top:0%;
    left:43%;
    float:left;
    width:12%;
    height:100%;
    margin: auto 0 ;
    outline:1px solid red;

    /* Prevent native touch events on Windows */
    -ms-touch-action: none;

    /* Prevent the callout on tap-hold and text selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* Prevent text resize on orientation change, useful for web-apps */
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}

#scroller {
    /*position: absolute;*/
    width:100%;

    float:left;
    /* Prevent elements to be highlighted on tap */
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    /* Put the scroller into the HW Compositing layer right from the start */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

.slide {
    /*position: relative;*/

    /*width: 175px;*/
    /*width: 175px;*/
    /*height: 100%;*/
    /*float: left;*/
    /*margin: 55% 0 10% 0;*/
    /*padding: 0% 0 -55% 0;*/
}
.field {
    width: auto;
    height: auto;
    margin:  auto ;
}
</style>
<script type="text/javascript">


var vertical_scroller;
var horizontal_scroller;
	
$(document).ready(function () {


		
		function curreentAvatar () {
			console.log(vertical_scroller.currentPage.pageY);
		}

		vertical_scroller = new IScroll('#wrapper', { 
	    scrollbars: true,
		scrollX: false,
		scrollY: true,
		momentum: false,
		snap: '.slide',//true,
		mouseWheel: true, 
		click: true,
		// snapSpeed: 310,
		keyBindings: true,
		});
		vertical_scroller.on('scroll', curreentAvatar);
		vertical_scroller.on('scrollEnd', curreentAvatar);
		console.log(vertical_scroller);


		function updatePosition () {
			$("#position").html(this.x>>0);
			$("#maxPosition").html(horizontal_scroller.maxScrollX) ;
		}
		horizontal_scroller = new IScroll('#horizontal_scroller', {
            probeType: 3,
            startX: 0,
            bounce: false,
            startY: 0,
            scrollX: true,
			momentum: false,
	   	 	scrollbars: false,
            scrollY: false,
			snapSpeed: 310,
            lockDirection: true,
           // directionLockThreshold: 20,
           // snap:document.querySelectorAll(".rr")

        });
		horizontal_scroller.on('scroll', updatePosition);
		horizontal_scroller.on('scrollEnd', updatePosition);
		updatePosition();


	});
	document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
	</script>

<div class="row">
    <div class="col-md-12 main">
        <img src="public/images/background.png">
        <div class="objEval">
            <img src="public/images/objEval.jpg">
        </div>
        <div class="zoneEval">
        	<div id="horizontal_scroller">
        		<div id="horizontal_container">
        			<div class="null">
        			</div>
        			<div id="wrapper">
                        <div id="scroller">

                            <div class="slide">
                                <img src="public/data/Evitement F_Det/EV_F_0_det.png" width="145px" height="310px" alt="Demo image" class="field" />
                            </div>
                            <div class="slide">
                                <img src="public/data/Evitement F_Det/EV_F_1_det.png" width="145px" height="310px" alt="Demo image" class="field" />
                            </div>
                            <div class="slide">
                                <img src="public/data/Evitement F_Det/EV_F_2_det.png" width="145px" height="310px"  alt="Demo image" class="field" />
                            </div>
                            <div class="slide">
                                <img src="public/data/Evitement F_Det/EV_F_3_det.png" width="145px" height="310px"  alt="Demo image" class="field" />
                            </div>
                            <div class="slide">
                                <img src="public/data/Evitement F_Det/EV_F_4_det.png" width="145px" height="310px"  alt="Demo image" class="field" />
                            </div>
                            <div class="slide">
                                <img src="public/data/Evitement F_Det/EV_F_5_det.png" width="145px" height="310px" alt="Demo image" class="field" />
                            </div>
                            <div class="slide">
                                <img src="public/data/Evitement F_Det/EV_F_1_det.png" width="145px" height="310px"  alt="Demo image" class="field" />
                            </div>
                            <div class="slide">
                                <img src="public/data/Evitement F_Det/EV_F_2_det.png"  width="145px" height="310px" alt="Demo image" class="field" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<div id="monitor">Y position: <strong id="position">0</strong>/<strong id="maxPosition">0</strong></div>


