<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
	<title><%= title %></title>
  <link rel="icon" type="image/png" href="public/images/EmoLyse.png" />
	<!-- Bootstrap -->
	<link href="public/css/bootstrap.min.css" rel="stylesheet">
	<link href="public/css/bootstrap-theme.min.css" rel="stylesheet">
  <!-- Ajout -->
  <link href="public/css/bootstrap-editable.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="public/css/style.css">


    <script src="public/js/iscroll.js"></script>
  	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="public/js/jquery/jquery.min.js"></script>
  	 <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> -->
  	<!-- Include all compiled plugins (below), or include individual files as needed -->
  	<script src="public/js/bootstrap.min.js"></script>
    <!-- Ajout -->
    <script src="public/js/jquery.wheelmenu.js"></script>
    <script src="public/js/moment-with-langs.min.js"></script>
    <script src="public/js/bootstrap-editable.js"></script>
  
  </head>
  <body id="body">
  	<nav class="navbar  navbar-inverse  navbar-static-top" role="navigation">
  		<div class="container">
  			<!-- Brand and toggle get grouped for better mobile display -->
  			<div class="navbar-header">
  				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
  					<span class="sr-only">Toggle navigation</span>
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  				</button>
  				<a class="navbar-brand" href="<%= (showMenuParametre) ? "index" : "#" %>">EmoLyse</a>
  			</div>

  			<!-- Collect the nav links, forms, and other content for toggling -->
  			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <% if(showMenuExperience) { %>
  				<ul class="nav navbar-nav">
  					<li class="dropdown">
  						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Expérience <b class="caret"></b></a>
  						<ul class="dropdown-menu">
  							<li><a href="saveZipExperience"><span class="glyphicon glyphicon-compressed"></span> Enregistrer (.zip)</a></li>
                <li class="divider"></li>
  							<li><a href="saveXLSExperience"><span class="glyphicon glyphicon-export"></span> Exporter Excel </a></li>
  							<li class="divider"></li>
                <li><a href="evaluations"><span class="glyphicon glyphicon-th-large"></span> Evaluations de l'expérience</a></li>
                <li><a href="experience"><span class="glyphicon glyphicon-book"></span> Fiche de l'expérience</a></li>
  						</ul>
  					</li>
  				</ul>
          <% } %>
          <% if(showMenuParametre) { %>
  				<ul class="nav navbar-nav navbar-right">
  					<li class="dropdown">
  						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
  							<span class="glyphicon glyphicon-cog"></span>
 							<b class="caret"></b>
 						</a>
  						<ul class="dropdown-menu">
                <li><a href="info"><span class="glyphicon glyphicon-info-sign"></span> À propos d'EmoLyse</a></li>
  							<li class="divider"></li>
                <li role="presentation" class="dropdown-header">Configuration</li>
  							<!-- <li><a href="evaluations"><span class="glyphicon glyphicon-import"></span> Importer</a></li> -->
                <li><a href="listeConfigurations"><span class="glyphicon glyphicon-wrench"></span> Gestion des configurations</a></li>
                <li class="divider"></li>
                <li role="presentation" class="dropdown-header">Expérience</li>
                <!-- <li><a href="#"><span class="glyphicon glyphicon-import"></span> Importer</a></li> -->
                <li><a href="listeExperiences"><span class="glyphicon glyphicon-wrench"></span> Gestion des expériences</a></li>
                <li class="divider"></li>
                <li><a href="preferences"><span class="glyphicon glyphicon-cog"></span> Préférences </a></li>
  						</ul>
  					</li>
            <li>
              <a href="aide">
                   <span class="glyphicon glyphicon-question-sign"></span>
            </a>
            </li>
  				</ul>
          <% } %>
  			</div><!-- /.navbar-collapse -->
  		</div><!-- /.container-fluid -->
  	</nav>
    
  	<div class="container">
      <% if(error) { %>
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>Warning!</strong> <%= error %>
        </div>
      <% } %>
  		<%- body %>
  	</div>
    <script>
    $(document).ready(function() {
      
      $("[data-toggle='tooltip']").tooltip();
    });
    </script>
  </body>
</html>
