<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
	<title><%= title %></title>

	<!-- Bootstrap -->
	<link href="public/css/bootstrap.min.css" rel="stylesheet">
	<link href="public/css/bootstrap-theme.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="public/css/style.css">


  	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- <script src="public/js/jquery/jquery.min.js"></script> -->
  	<!-- Include all compiled plugins (below), or include individual files as needed -->
  	<script src="public/js/bootstrap.min.js"></script>
    <!-- Ajout -->
    <script src="public/js/jquery.wheelmenu.js"></script>
    <script src="public/js/iscroll.js"></script>

  </head>
  <body>
  	<nav class="navbar  navbar-inverse  navbar-static-top" role="navigation">
  		<div class="container">
  			<!-- Brand and toggle get grouped for better mobile display -->
  			<div class="navbar-header">
  				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
  					<span class="sr-only">Toggle navigation</span>
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  				</button>
  				<a class="navbar-brand" href="index">EmoLyse</a>
  			</div>

  			<!-- Collect the nav links, forms, and other content for toggling -->
  			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <% if(showMenuExperience) { %>
  				<ul class="nav navbar-nav">
  					<li class="dropdown">
  						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Expérience <b class="caret"></b></a>
  						<ul class="dropdown-menu">
                <li><a href="saveExperience">Enregistré</a></li>
  							<li><a href="saveExperience">Enregistré sou (zip)</a></li>
                <li class="divider"></li>
  							<li><a href="#">Exporter Exel </a></li>
  							<li><a href="#">Exporter Exel + capture d'évaluation </a></li>
  							<li class="divider"></li>
                <li><a href="experience">Paramètre</a></li>
  							<li><a href="#">Fermer</a></li>
  						</ul>
  					</li>
  				</ul>
          <% } %>
  				<ul class="nav navbar-nav navbar-right">
  					<li class="dropdown">
  						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
  							<span class="glyphicon glyphicon-cog"></span>
 							<b class="caret"></b>
 						</a>
  						<ul class="dropdown-menu">
                <li><a href="#">Information</a></li>
  							<li class="divider"></li>
                <li role="presentation" class="dropdown-header">Configuration</li>
  							<li><a href="evaluations">Importer</a></li>
                <li><a href="#">Exporter</a></li>
                <li><a href="#">Nouvelle configuration</a></li>
                <li><a href="#">Modifier une Configuration</a></li>
                <li class="divider"></li>
                <li role="presentation" class="dropdown-header">Experience</li>
                <li><a href="#">Importer</a></li>
                <li><a href="#">Exporter</a></li>
                <li><a href="#">Gestion des experiences</a></li>
  						</ul>
  					</li>
  				</ul>
  			</div><!-- /.navbar-collapse -->
  		</div><!-- /.container-fluid -->
  	</nav>
    
  	<div class="container">
      <% if(error) { %>
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>Warning!</strong> <%= error %>
        </div>
      <% } %>
  		<%- body %>

<!-- DEBUT body -->



<div class="row li-eval">


               <div class="btn-group col-xs-3">
                <button type="button" class="btn btn-info  btn-sm col-xs-9" data-toggle="tooltip" data-placement="top" title="Voir les informations du participant" onclick="$('#modifUserModal').modal('show');" >N°101</button>
                <button type="button" class="btn btn-info dropdown-toggle  btn-sm col-xs-3" data-toggle="dropdown">
                <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Lancer une évaluation</a></li>
                <li><a href="#">Voir les évaluations</a></li>
                <li><a href="#" onclick="$'#modifUserModal'.modal'show';" >Modifier le participant</a></li>
                <li class="divider"></li>
                <li><a href="#">Supprimer le participant</a></li>
            </ul>
            </div>


			<div class="btn-group col-xs-3">
                <button type="button" class="btn btn-info  btn-sm col-xs-9" data-toggle="tooltip" data-placement="top" title="Voir les informations du participant" onclick="$('#modifUserModal').modal('show');" >N°102</button>
                <button type="button" class="btn btn-info dropdown-toggle  btn-sm col-xs-3" data-toggle="dropdown">
                <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Lancer une évaluation</a></li>
                <li><a href="#">Voir les évaluations</a></li>
                <li><a href="#" onclick="$'#modifUserModal'.modal'show';" >Modifier le participant</a></li>
                <li class="divider"></li>
                <li><a href="#">Supprimer le participant</a></li>
            </ul>
            </div>


			<div class="btn-group col-xs-3">
                <button type="button" class="btn btn-info  btn-sm col-xs-9" data-toggle="tooltip" data-placement="top" title="Voir les informations du participant" onclick="$('#modifUserModal').modal('show');">N°103</button>
                <button type="button" class="btn btn-info dropdown-toggle  btn-sm col-xs-3" data-toggle="dropdown">
                <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Lancer une évaluation</a></li>
                <li><a href="#">Voir les évaluations</a></li>
                <li><a href="#" onclick="$'#modifUserModal'.modal'show';" >Modifier le participant</a></li>
                <li class="divider"></li>
                <li><a href="#">Supprimer le participant</a></li>
            </ul>
            </div>

			<div class="btn-group col-xs-3">
                <button type="button" class="btn btn-info  btn-sm col-xs-9" data-toggle="tooltip" data-placement="top" title="Voir les informations du participant" onclick="$('#modifUserModal').modal('show');">N°104</button>
                <button type="button" class="btn btn-info dropdown-toggle  btn-sm col-xs-3" data-toggle="dropdown">
                <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Lancer une évaluation</a></li>
                <li><a href="#">Voir les évaluations</a></li>
                <li><a href="#" onclick="$'#modifUserModal'.modal'show';" >Modifier le participant</a></li>
                <li class="divider"></li>
                <li><a href="#">Supprimer le participant</a></li>
            </ul>
            </div>
</div>


<div class="row li-eval">

               <div class="btn-group col-xs-3">
                <button type="button" class="btn btn-info  btn-sm col-xs-9"data-toggle="tooltip" data-placement="top" title="Voir les informations du participant" onclick="$('#modifUserModal').modal('show');" >n°105</button>
                <button type="button" class="btn btn-info dropdown-toggle  btn-sm col-xs-3" data-toggle="dropdown">
                <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Lancer une évaluation</a></li>
                <li><a href="#">Voir les évaluations</a></li>
                <li><a href="#" onclick="$'#modifUserModal'.modal'show';" >Modifier le participant</a></li>
                <li class="divider"></li>
                <li><a href="#">Supprimer le participant</a></li>
            </ul>
            </div>

			<div class="btn-group col-xs-3">
                <button type="button" class="btn btn-info  btn-sm col-xs-9"data-toggle="tooltip" data-placement="top" title="Voir les informations du participant" onclick="$('#modifUserModal').modal('show');" >N°106</button>
                <button type="button" class="btn btn-info dropdown-toggle  btn-sm col-xs-3" data-toggle="dropdown">
                <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Lancer une évaluation</a></li>
                <li><a href="#">Voir les évaluations</a></li>
                <li><a href="#" onclick="$('#modifUserModal').modal('show');" >Modifier le participant</a></li>
                <li class="divider"></li>
                <li><a href="#">Supprimer le participant</a></li>
            </ul>
            </div>

			<div class="btn-group col-xs-3">
                <button type="button" class="btn btn-info  btn-sm col-xs-9" data-toggle="tooltip" data-placement="top" title="Voir les informations du participant" onclick="$('#modifUserModal').modal('show');" >N°107</button>
                <button type="button" class="btn btn-info dropdown-toggle  btn-sm col-xs-3" data-toggle="dropdown">
                <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Lancer une évaluation</a></li>
                <li><a href="#">Voir les évaluations</a></li>
                <li><a href="#" onclick="$'#modifUserModal'.modal'show';" >Modifier le participant</a></li>
                <li class="divider"></li>
                <li><a href="#">Supprimer le participant</a></li>
            </ul>
            </div>
			
			<div class="btn-group col-xs-1">
			<button type="button" class="btn btn-info  btn-sm col-xs-9" data-toggle="tooltip" data-placement="top" title="Ajouter un participant" onclick="$('#newUserModal').modal('show');"><span class="glyphicon glyphicon-plus"/></button>
			</div>

			<!--
			<div class="btn-group col-xs-3">
                <button type="button" class="btn btn-info  btn-sm col-xs-9" >N°104</button>
                <button type="button" class="btn btn-info dropdown-toggle  btn-sm col-xs-3" data-toggle="dropdown">
                <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Lancer une évaluation</a></li>
                <li><a href="#">Voir les évaluations</a></li>
                <li><a href="#" onclick="$'#modifUserModal'.modal'show';" >Modifier le participant</a></li>
                <li class="divider"></li>
                <li><a href="#">Supprimer le participant</a></li>
            </ul>
            </div> 
			-->
</div>


<div class="row">

<% for(var i=0; i<participants.length; i++) {%>
                                   <%= participants[i].ID %></option>
                                <% } %>

</div>








<!-- Modal New participant-->
    <div class="modal " id="newUserModal" tabindex="-1" role="dialog" aria-labelledby="newUserModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/newParticipant" method="post" role="form">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="newUserModalLabel">Nouveau participant</h4>
                    </div>
                    <div class="modal-body">



                        <div class="form-group">
                            <label for="numUserInput">Numéro du participant</label>
                            <input name="numUser" type="text" class="form-control" id="numUserInput" placeholder="Numéro du participant">
                        </div>

                        <div class="form-group">
                          <label for="sexeUserRadios">Sexe</label>
                          <div>
                            <label>
                              <input type="radio" name="sexeUser" id="sexeUserRadios" value="H"> Homme
                            </label>
                            <label>
                              <input type="radio" name="sexeUser" id="sexeUserRadios" value="F"> Femme
                            </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="dateNaissanceInput">Date de naissance</label>
                            <input name="dateNaissance" type="text" class="form-control" id="dateNaissanceInput" placeholder="01/01/1900">
                        </div>

                        <div class="form-group">
                          <label for="lvlEtudeSelect">Plus haut niveau d'étude</label>
                          <select name="lvlEtude" class="form-control" id="lvlEtudeSelect">
                              <option value="bep_cap">BEP / CAP</option>
                              <option value="bac_pro">BAC Pro</option>
                              <option value="bac">BAC</option>
                              <option value="bac2">Bac+2</option>
                              <option value="bac3">Bac+3</option>
                              <option value="bac5">Bac+5</option>
                          </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary" onclick="$('#newUserModal').modal('hide');$('form').submit();">Ajouter</button>
                        <button type="submit" class="btn btn-primary" onclick="$('#newUserModal').modal('hide');$('form').submit();">Ajouter et évaluer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
	
	
	
	
	
	<!-- Modal Modifier le participant-->
    <div class="modal " id="modifUserModal" tabindex="-1" role="dialog" aria-labelledby="modifUserModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/newParticipant" method="post" role="form">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="modifUserModalLabel">Participant</h4>
                    </div>
                    <div class="modal-body">



                        <div class="form-group">
                            <label for="numUserInput">Numéro du participant</label>
                            <input name="numUser" type="text" class="form-control" id="numUserInput" placeholder="Numéro du participant">
                        </div>

                        <div class="form-group">
                          <label for="sexeUserRadios">Sexe</label>
                          <div>
                            <label>
                              <input type="radio" name="sexeUser" id="sexeUserRadios" value="H"> Homme
                            </label>
                            <label>
                              <input type="radio" name="sexeUser" id="sexeUserRadios" value="F"> Femme
                            </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="dateNaissanceInput">Date de naissance</label>
                            <input name="dateNaissance" type="text" class="form-control" id="dateNaissanceInput" placeholder="01/01/1900">
                        </div>

                        <div class="form-group">
                          <label for="lvlEtudeSelect">Plus haut niveau d'étude</label>
                          <select name="lvlEtude" class="form-control" id="lvlEtudeSelect">
                              <option value="bep_cap">BEP / CAP</option>
                              <option value="bac_pro">BAC Pro</option>
                              <option value="bac">BAC</option>
                              <option value="bac2">Bac+2</option>
                              <option value="bac3">Bac+3</option>
                              <option value="bac5">Bac+5</option>
                          </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary" onclick="$('#modifUserModal').modal('hide');$('form').submit();">Enregistrer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


	
	
	<!-- Modal Résultats-->
    <div class="modal " id="resultats" tabindex="-1" role="dialog" aria-labelledby="resultatsLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="newUserModalLabel">Résultats</h4>
                    </div>
                    <div class="modal-body">
						<table>
							<thead>
								<tr>
									<th>Expérience</th>
									<th>Description</th>
									<th>Coordonnées</th>
									<th>Durée</th>
									<th>Images</th>
								</tr>
								<tr>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</thead>
						</table>


                        

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary" onclick="$('#newUserModal').modal('hide');$('form').submit();">Exporter</button>
                    </div>
            </div>
        </div>
    </div>
	



<!-- FIN body -->

  	</div>
<script>
  $('.modal').on('hide.bs.modal', function (e) {
  location.reload();
})

</script>

  <script>
$("button[data-toggle='tooltip']").tooltip();
</script>
  </body>


  
  </html>