<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
	<title><%= title %></title>

	<!-- Bootstrap -->
	<link href="public/css/bootstrap.min.css" rel="stylesheet">
	<link href="public/css/bootstrap-theme.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="public/css/style.css">


  	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- <script src="public/js/jquery/jquery.min.js"></script> -->
  	<!-- Include all compiled plugins (below), or include individual files as needed -->
  	<script src="public/js/bootstrap.min.js"></script>
    <!-- Ajout -->
    <script src="public/js/jquery.wheelmenu.js"></script>
    <script src="public/js/iscroll.js"></script>

  </head>
  <body>
  	<nav class="navbar  navbar-inverse  navbar-static-top" role="navigation">
  		<div class="container">
  			<!-- Brand and toggle get grouped for better mobile display -->
  			<div class="navbar-header">
  				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
  					<span class="sr-only">Toggle navigation</span>
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  				</button>
  				<a class="navbar-brand" href="index.html">EmoLyse</a>
  			</div>

  			<!-- Collect the nav links, forms, and other content for toggling -->
  			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <% if(showMenuExperience) { %>
  				<ul class="nav navbar-nav">
  					<li class="dropdown">
  						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Expérience <b class="caret"></b></a>
  						<ul class="dropdown-menu">
                <li><a href="saveExperience">Enregistré</a></li>
  							<li><a href="saveExperience">Enregistré sou (zip)</a></li>
                <li class="divider"></li>
  							<li><a href="#">Exporter Exel </a></li>
  							<li><a href="#">Exporter Exel + capture d'évaluation </a></li>
  							<li class="divider"></li>
                <li><a href="experience">Paramètre</a></li>
  							<li><a href="#">Fermer</a></li>
  						</ul>
  					</li>
  				</ul>
          <% } %>
  				<ul class="nav navbar-nav navbar-right">
  					<li class="dropdown">
  						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
  							<span class="glyphicon glyphicon-cog"></span>
 							<b class="caret"></b>
 						</a>
  						<ul class="dropdown-menu">
                <li><a href="#">Information</a></li>
  							<li class="divider"></li>
                <li role="presentation" class="dropdown-header">Configuration</li>
  							<li><a href="evaluations">Importer</a></li>
                <li><a href="#">Exporter</a></li>
                <li><a href="#">Nouvelle configuration</a></li>
                <li><a href="#">Modifier une Configuration</a></li>
                <li class="divider"></li>
                <li role="presentation" class="dropdown-header">Experience</li>
                <li><a href="#">Importer</a></li>
                <li><a href="#">Exporter</a></li>
                <li><a href="#">Gestion des experiences</a></li>
  						</ul>
  					</li>
  				</ul>
  			</div><!-- /.navbar-collapse -->
  		</div><!-- /.container-fluid -->
  	</nav>
    
  	<div class="container">
      <% if(error) { %>
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>Warning!</strong> <%= error %>
        </div>
      <% } %>
  		<%- body %>

<!-- DEBUT body -->



<div class="row">
    <div class="col-md-12 main">
        <img src="public/images/background.png">
        <div class="objEval">
            <img src="public/images/objEval.jpg">
        </div>
        <div class="zoneEval">
          <div id="horizontal_scroller">
            <div id="horizontal_container">
              <div class="null">
              </div>
              <div id="wrapper">
                <div id="scroller">

                  <div class="slide">
                    <img src="public/data/Evitement F_Det/EV_F_0_det.png" width="145px" alt="Demo image" class="field" />
                  </div>
                  <div class="slide">
                    <img src="public/data/Evitement F_Det/EV_F_1_det.png" width="145px" alt="Demo image" class="field" />
                  </div>
                  <div class="slide">
                    <img src="public/data/Evitement F_Det/EV_F_2_det.png" width="145px"  alt="Demo image" class="field" />
                  </div>
                  <div class="slide">
                    <img src="public/data/Evitement F_Det/EV_F_3_det.png" width="145px"  alt="Demo image" class="field" />
                  </div>
                  <div class="slide">
                    <img src="public/data/Evitement F_Det/EV_F_4_det.png" width="145px"  alt="Demo image" class="field" />
                  </div>
                  <div class="slide">
                    <img src="public/data/Evitement F_Det/EV_F_5_det.png" width="145px" alt="Demo image" class="field" />
                  </div>
                  <div class="slide">
                    <img src="public/data/Evitement F_Det/EV_F_1_det.png" width="145px"  alt="Demo image" class="field" />
                  </div>
                  <div class="slide">
                    <img src="public/data/Evitement F_Det/EV_F_2_det.png"  width="145px" alt="Demo image" class="field" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>





<div id="monitor">Y position: <strong id="position">0</strong>/<strong id="maxPosition">0</strong></div>


<script type="text/javascript">


var vertical_scroller;
var horizontal_scroller;
    
$( window ).load(function() { // pour que le chargement des images soit fait !!!!!!! 


        
        function curreentAvatar () {
            console.log(vertical_scroller.currentPage.pageY);
        }

        vertical_scroller = new IScroll('#wrapper', { 
            scrollbars: true,
            scrollX: false,
            scrollY: true,
            momentum: false,
            snap: '.slide',//true,
            mouseWheel: true, 
            click: true,
            // snapSpeed: 310,
            // keyBindings: true,
        });
        vertical_scroller.on('scroll', curreentAvatar);
        vertical_scroller.on('scrollEnd', curreentAvatar);
        console.log(vertical_scroller);


        function updatePosition () {
            $("#position").html(this.x>>0);
            $("#maxPosition").html(horizontal_scroller.maxScrollX) ;
        }
        horizontal_scroller = new IScroll('#horizontal_scroller', {
            probeType: 3,
            startX: 0,
            bounce: false,
            startY: 0,
            scrollX: true,
            momentum: false,
            scrollbars: false,
            scrollY: false,
            snapSpeed: 310,
            lockDirection: true,
           // directionLockThreshold: 20,
           // snap:document.querySelectorAll(".rr")

        });
        horizontal_scroller.on('scroll', updatePosition);
        horizontal_scroller.on('scrollEnd', updatePosition);
        updatePosition();


    });
    document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
    </script>

<!-- FIN body -->

  	</div>
<script>
  $('.modal').on('hide.bs.modal', function (e) {
  location.reload();
})

</script>
  </body>
</html>