<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
	<title><%= title %></title>

	<!-- Bootstrap -->
	<link href="public/css/bootstrap.min.css" rel="stylesheet">
	<link href="public/css/bootstrap-theme.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="public/css/style.css">


  	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- <script src="public/js/jquery/jquery.min.js"></script> -->
  	<!-- Include all compiled plugins (below), or include individual files as needed -->
  	<script src="public/js/bootstrap.min.js"></script>
    <!-- Ajout -->
    <script src="public/js/jquery.wheelmenu.js"></script>
    <script src="public/js/iscroll.js"></script>

  </head>
  <body>
  	<nav class="navbar  navbar-inverse  navbar-static-top" role="navigation">
  		<div class="container">
  			<!-- Brand and toggle get grouped for better mobile display -->
  			<div class="navbar-header">
  				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
  					<span class="sr-only">Toggle navigation</span>
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  				</button>
  				<a class="navbar-brand" href="index">EmoLyse</a>
  			</div>

  			<!-- Collect the nav links, forms, and other content for toggling -->
  			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <% if(showMenuExperience) { %>
  				<ul class="nav navbar-nav">
  					<li class="dropdown">
  						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Expérience <b class="caret"></b></a>
  						<ul class="dropdown-menu">
                <li><a href="saveExperience">Enregistrer</a></li>
  							<li><a href="saveExperience">Enregistrer-sous (.zip)</a></li>
                <li class="divider"></li>
  							<li><a href="#">Exporter Excel </a></li>
  							<li><a href="#">Exporter Excel + capture d'évaluation </a></li>
  							<li class="divider"></li>
                <li><a href="experience">Paramètres</a></li>
  							<li><a href="#">Fermer</a></li>
  						</ul>
  					</li>
  				</ul>
          <% } %>
  				<ul class="nav navbar-nav navbar-right">
  					<li class="dropdown">
  						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
  							<span class="glyphicon glyphicon-cog"></span>
 							<b class="caret"></b>
 						</a>
  						<ul class="dropdown-menu">
                <li><a href="#">Information</a></li>
  							<li class="divider"></li>
                <li role="presentation" class="dropdown-header">Configuration</li>
  							<li><a href="evaluations">Importer</a></li>
                <li><a href="#">Exporter</a></li>
                <li><a href="#">Nouvelle configuration</a></li>
                <li><a href="#">Modifier une configuration</a></li>
                <li class="divider"></li>
                <li role="presentation" class="dropdown-header">Experience</li>
                <li><a href="#">Importer</a></li>
                <li><a href="#">Exporter</a></li>
                <li><a href="#">Gestion des experiences</a></li>
  						</ul>
  					</li>
  				</ul>
  			</div><!-- /.navbar-collapse -->
  		</div><!-- /.container-fluid -->
  	</nav>
    
  	<div class="container">
      <% if(error) { %>
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>Warning!</strong> <%= error %>
        </div>
      <% } %>
  		<%- body %>

<!-- DEBUT body -->

<div class="jumbotron">
    <h1>EmoLyse</h1>
    <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#newExp">
        <span class="glyphicon glyphicon-file"></span> Nouvelle experience
    </button>
    <button type="button" class="btn btn-default btn-lg btn-block" onclick="$('#openExp').modal('toggle')">
        <span class="glyphicon glyphicon-folder-open"></span> Ouvrir une experience
    </button>
</div>


<!-- Modal nouvelle experience-->
    <div class="modal" id="newExp" tabindex="-1" role="dialog" aria-labelledby="newExpLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/newExperience" method="post" role="form" enctype="multipart/form-data">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="newExpLabel">Nouvelle experience</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="nomExpInput">Nom de l'experience</label>
                            <input name="nomExp" type="text" class="form-control" id="nomExpInput" placeholder="Enter nom">
                        </div>

                        <div class="form-group">
                            <label for="descriptionExpInput">Description</label>
                            <textarea name="descriptionExp" class="form-control" rows="3" id="descriptionExpInput"></textarea>

                        </div>

                        <div class="form-group">
                            <label for="configSelect">Choisir une configuration</label>
                            <select name="configExp" class="form-control" id="configSelect">
                                <% for(var i=0; i<configs.length; i++) {%>
                                   <option value="<%= configs[i][0] %>"><%= configs[i][1] %></option>
                                <% } %>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="imageInputFile">Image du produit</label>
                            <input name="imageExp" type="file" id="imageInputFile">
                            <p class="help-block">Image de type : png, jpg, jpeg</p>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary" onclick="$('#newExp').modal('hide');$('form').submit();">Valider</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Ouvrir Experience -->
    <div class="modal " id="openExp" tabindex="-1" role="dialog" aria-labelledby="openExpLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/openExperience" method="post" role="form">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="openExpLabel">Ouvrir experience</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="experienceSelect">Choisir une experience</label>
                            <select name="experience" class="form-control" id="experienceSelect" style="width: 100%">
                                <% for(var i=0; i<experiences.length; i++) {%>
                                   <option value="<%= experiences[i][0] %>"><%= experiences[i][1] %></option>
                                <% } %>
                            </select>
                            <p class="help-block">Utiliser "importer une experience" pour ajouter des experience au repertoire. </p>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary" onclick="$('#openExp').modal('hide');$('form').submit();">Ouvrir</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


<!-- FIN body -->

  	</div>
<script>
  $('.modal').on('hide.bs.modal', function (e) {
  location.reload();
})

</script>
  </body>
</html>